---
services:
  web:
    restart: always
    image: dalibo/explain.dalibo.com:latest
    ports:
      - "5000:5000"
    links:
      - postgres:postgres
    volumes:
      - .:/app
    environment:
      DB_SERVICE: postgres

  postgres:
    restart: always
    image: postgres:latest
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres

volumes:
  db-data:
