{% set asset='common' %}

{% extends "layout.html" %}

{% block title %}
About |
{% endblock %}

{% block body %}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/github.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<div class="container mt-2">
  <div class="row">
    <div class="col-sm-12">
      <h2>
        <img src="{{ url_for('static', filename='img/logo_pev2.svg') }}" alt="Logo PEV2" width="40px;">
        <a href="{{ url_for('index') }}">explain.dalibo.com</a>
        <small class="text-muted ms-4">
          PostgreSQL execution plan visualizer
        </small>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>
        About
      </h2>
      <p>
        This service lets you analyze, visualize and share <a href="http://www.postgresql.org/docs/current/static/sql-explain.html">Postgres Query Plans</a>. It will compute and highlight the most important information to make them easier to understand.
      </p>
      <p>
        It is brought to you by <a href="https://dalibo.com" class="font-weight-bold">Dalibo</a>.
      </p>
      <h3>
        Acknowledgements
      </h3>
      <p>
        This app was inspired and heavily influenced by the excellent <a href="https://explain.depesz.com">explain.depesz.com</a>. Both the tool and the corresponding help files are a great resource to learn about Postgres and its planner.
      </p>
      <p>
        It's also heavily inspired by <a href="http://tatiyants.com/pev/">PEV</a> of which it can be considered a fork.
      </p>
      <h3>
        Usage tips
      </h3>
      <h4>
        Format
      </h4>
      <p>
        To get the most out of it, we recommend generating a query plan using the following line: <code>EXPLAIN (ANALYZE, COSTS, VERBOSE, BUFFERS, FORMAT JSON)</code>. It is recommend submitting a (decently formatted) SQL query that generated the plan.
      </p>
      <p>
        PEV2 <b>can also parse text</b> although the JSON format usually has better support.
      </p>
      <h4>
        POST
      </h4>
      <p>
        You can send plans using <em>HTTP POST</em> to <em>{{ url_for('new', _external=True) }}</em>.
        <br>
        The request parameters to send are <em>title</em>, <em>plan</em> and optionaly <em>query</em>.
        <br>
        Here's an example using a <em>HTML form</em>:
        <pre><code class="html">&lt;form action=&quot;{{ url_for('new', _external=True) }}&quot; method=&quot;POST&quot;&gt;
  &lt;input type=&quot;text&quot; name=&quot;title&quot; value=&quot;A title for the plan&quot;/&gt;
  &lt;textarea name=&quot;plan&quot; rows=&quot;10&quot; cols=&quot;50&quot;&gt;
  Seq Scan on tenk1  (cost=0.00..333.00 rows=10000 width=148)
  &lt;/textarea&gt;
  &lt;textarea name=&quot;query&quot; cols=&quot;50&quot;&gt;&lt;/textarea&gt;
  &lt;button type=&quot;submit&quot;&gt;Submit&lt;/button&gt;
&lt;/form&gt;</code></pre>
        Here's an example using <em>cURL</em>:
        <br>
        <code class="text-muted bg-light d-block">$ curl -Ls -w %{url_effective} -d '{"plan":"Seq Scan on tenk1  (cost=0.00..333.00 rows=10000 width=148)"}' -H "Content-Type: application/json" -X POST {{ url_for('new', _external=True) }} -o /dev/null</code>
      </p>
      <h4>
        Directly from psql
      </h4>
      <p>
      You can send your plans directly from <em>psql</em> using the <em><a href="https://github.com/agneum/plan-exporter">plan-exporter</a></em> utility.
      </p>
      <h3>
        Help us improve this service
      </h3>
      <p>
        This application uses <a href="https://github.com/dalibo/pev2" class="font-weight-bold">PEV2</a> JS library to analyze and display the plan.
      </p>
      <p>
        Please report bugs on <a href="https://github.com/dalibo/pev2/issues"><i class="fab fa-github"></i> github</a>.
      </p>
      <h3 id="retention">
        Data retention policy
      </h3>
      <p>
        The plans you send are stored in the database. This allows you to easily share a link to anyone.
      </p>
      <p>
        <b>It is recommended not to send any critical or sensitive information.</b>
      </p>
      <p>
        Plans are meant to be stored <i>permanently</i> (with no waranty) unless you delete them yourself.
      </p>
      <p>
        You can delete the saved plans using the list shown in the home page. Make sure you're using the same browser.
      </p>
      <h4>Standalone version</h4>
      <p>
        You may preferably use a standalone (<i>browser only</i>) version of this app. Simply download this <a href="https://www.github.com/dalibo/pev2/releases/latest/download/index.html">HTML file</a> and run it in your browser.
      </p>
    </div>
  </div>
</div>
{% endblock %}
