<footer class="footer bg-dark" id="footer">
  <nav class="navbar navbar-expand-md navbar-dark justify-content-between">
    <div class="container">
      <span class="navbar-text">
        Service brought to you with <font-awesome-icon icon="heart"></font-awesome-icon> by <a href="https://dalibo.com">Dalibo</a>
      </span>
      <ul class="navbar-nav ml-auto">
        <li>
          <a class="nav-link" href="{{ url_for('about') }}">Help / About</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
