{% set asset='index' %}

{% extends "layout.html" %}

{% block title %}
New Plan
{% endblock %}

{% block body %}
<main role="main" class="flex-grow-1 overflow-auto">
<div id="app" class="container mt-2">
  <notifications position="top right"></notifications>
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>
        <img src="{{ url_for('static', filename='img/logo_pev2.svg') }}" alt="Logo PEV2" width="40px;">
        explain.dalibo.com
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <form method="POST" action="{{ url_for('plan') }}" @submit="checkForm">
        <div class="form-group">
          <label for="titleInput">Title</span></label>
          <input name="title" class="form-control col-sm-4" v-model="titleInput" maxlength="100"/>
        </div>
        <div class="form-group">
          <label for="planInput">Plan <span class="small text-muted">(text or JSON)</span></label>
          <textarea name="plan" class="form-control" :class="[draggingPlan ? 'dropzone-over' : '']" id="planInput" rows="8" v-model="planInput" @dragenter="draggingPlan = true" @dragleave="draggingPlan = false" @drop.prevent="handleDrop" placeholder="Paste execution plan or drop a file"></textarea>
        </div>
        <div class="form-group">
          <label for="queryInput">Query <span class="small text-muted">(optional)</span></label>
          <textarea name="sql" class="form-control" :class="[draggingQuery ? 'dropzone-over' : '']" id="queryInput" rows="8" v-model="queryInput" @dragenter="draggingQuery = true" @dragleave="draggingQuery = false" @drop.prevent="handleDrop" placeholder="Paste corresponding SQL query or drop a file"></textarea>
        </div>
        <div class="row">
          <div class="col d-flex">
            <button type="submit" class="btn btn-primary">Submit</button>
            <div class="dropup ml-auto">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sample Plans
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a v-for="(sample, index) in samples" class="dropdown-item" v-on:click.prevent="loadSample(sample)" href>
                  {% raw %}{{ sample[0] }}{% endraw %}
                </a>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="row mt-4">
        <div class="col d-flex">
          <div class="">
            <p class="text-muted">
            For best results, use <code>EXPLAIN (ANALYZE, COSTS, VERBOSE, BUFFERS, FORMAT JSON)</code>
            <br>
            <em>psql</em> users can export the plan to a file using:
            <pre class="ml-3"><code>psql -XqAt -f explain.sql > analyze.json</code></pre>
            </p>
            <p>
            Submitted plan is not posted nor stored until you explicitely click the <b>share</b> button.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 mb-4">
      <h3>Plans</h3>
      <ul class="list-group" v-cloak>
        <li class="list-group-item px-2 py-1" v-for="plan in plans">
          <div class="row">
            <div class="col">
              <button
                class="btn btn-sm btn-outline-secondary py-0 float-right"
                title="Delete plan"
                v-on:click="deletePlan(plan)"
              >
                <i class="far fa-trash-alt"></i>
              </button>
              <a :href="'{{ url_for('plan') }}' + getPlanUrl(plan)">
                {{ '{{ plan.title }}' }}
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <small class="text-muted">
                created
                <timeago :datetime="plan.createdOn" :title="plan.createdOn.toString()"></timeago>
              </small>
            </div>
            <div class="col-6 text-right">
              <small>
                <span v-if="plan.shareId">
                  <a :href="'{{ url_for('plan') }}' + getPlanUrl(plan)" class="link-gray">
                    <i class="fa fa-link"></i>
                    plan/{{'{{plan.shareId}}'}}
                  </a>
                </span>
              </small>
            </div>
          </div>
        </li>
      </ul>
      <p class="text-muted text-center" v-if="!plans.length">
        <em>
          You haven't submitted any plan yet.
        </em>
      </p>
    </div>
  </div>
</div>
</main>
<footer class="footer bg-dark">
  <nav class="navbar navbar-expand-md navbar-dark justify-content-between">
    <div class="container">
      <span class="navbar-text">
        Service brought to you with <i class="fa fa-heart"></i> by <a href="https://dalibo.com">Dalibo</a>
      </span>
      <ul class="navbar-nav ml-auto">
        <li>
          <a class="nav-link" href="{{ url_for('about') }}">Help / About</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
<script>
const staticUrl = "{{ url_for('static', filename='') }}";
</script>
{% endblock %}
