{% set asset='index' %}

{% extends "layout.html" %}

{% block title %}
New Plan
{% endblock %}

{% block body %}
<div id="app" v-cloak class="container mt-2">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>
        <img src="{{ url_for('static', filename='img/logo_pev2.svg') }}" alt="Logo PEV2" width="40px;">
        explain.dalibo.com
      </h2>
    </div>
  </div>
  {% if deleted %}
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success d-inline-block">
        The plan <b>{{ deleted }}</b> has been deleted.
      </div>
    </div>
  </div>
  {% endif %}
  <form method="POST" action="{{ url_for('new') }}">
    <div class="form-group">
      <label for="titleInput">Title</span></label>
      <input name="title" class="form-control col-sm-4" id="titleInput" />
    </div>
    <div class="form-group">
      <label for="planInput">Plan <span class="small text-muted">(text or JSON)</span></label>
      <textarea name="plan" :class="['form-control', draggingPlan ? 'dropzone-over' : '']" id="planInput" rows="8" v-model="planInput" @dragenter="draggingPlan = true" @dragleave="draggingPlan = false" @drop.prevent="handleDrop" placeholder="Paste execution plan\nOr drop a file"></textarea>
    </div>
    <div class="form-group">
      <label for="queryInput">Query</label>
      <textarea name="sql" :class="['form-control', draggingQuery ? 'dropzone-over' : '']" id="queryInput" rows="8" v-model="queryInput" @dragenter="draggingQuery = true" @dragleave="draggingQuery = false" @drop.prevent="handleDrop" placeholder="Paste corresponding SQL query\nOr drop a file"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="row mt-4">
    <div class="col d-flex">
      <div class="text-muted">
        For best results, use <code>EXPLAIN (ANALYZE, COSTS, VERBOSE, BUFFERS, FORMAT JSON)</code>
        <br>
        <em>psql</em> users can export the plan to a file using <code>psql -qAt -f explain.sql > analyze.json</code>
      </div>
      <div class="dropup ml-auto">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sample Plans
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a v-for="(sample, index) in samples" class="dropdown-item" v-on:click.prevent="loadSample(sample)" href>
            {% raw %}{{ sample[0] }}{% endraw %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
const staticUrl = "{{ url_for('static', filename='') }}";
</script>
{% endblock %}
