{% set asset='common' %}

{% extends "layout.html" %}

{% block title %}
{{ plan.title or '' + ' |' if plan else ' | ' }}
{% endblock %}

{% block body %}
<div class="w-100 h-100 d-flex">
  <div class="align-self-center mx-auto">
    <div class="mb-3">
      This plan is protected. Please enter the password to view its
      details.
    </div>
    <form method="POST">
      <div class="mb-3">
        <input name="password" type="password" class="form-control" maxlength="100" placeholder="Password" autocomplete="current-password"/>
      </div>
      {% if invalid_password %}
      <div class="mb-3 text-danger">
        Password is incorrect
      </div>
      {% endif %}
      <div class="row">
        <div class="col d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Unlock</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block head %}
<meta name="robots" content="noindex" />
{% endblock %}
